.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: green;
}

.Success:hover {
    color: rgb(82, 207, 82);
}

.Danger {
    color: red;
}

.Danger:hover {
    color: rgb(228, 122, 104);
}

.CheckoutButtons {
    margin-bottom: 4rem;
}