.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: white; 
}

.Toolbar nav {
    height: 100%;
}

.Brand {
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
    margin-left: 8rem;
}

.Logo {
    margin-right: 10px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
    
}